/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/platforms

/.zip
/.rar

# Files that might appear in the root of a volume
.DS_Store
.AppleDouble
.LSOverride

._*
.Spotlight-V100
.Trashes
.TemporaryItems
.DocumentRevisions-V100
.VolumeIcon.icns

# Thumbnails
._*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk