<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{{body}}}

    <script src='javascripts/app.js'></script>
  </body>
</html>
